<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/assets/css/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/require.js"></script>
    <script src="assets/js/gamecs.min.js"></script>
    <script src="assets/js/BIG.js"></script>
    <script>
        require(['BIG'], function(BIG) {
            window.BIG = BIG;
            BIG.init({
                        api_key: "<%= api_key %>",
                        player_id: "<%= player_id %>",
                        player_token: "<%= player_token %>"
                    },
                    function(err, data) {
                        console.log('api.init:', err, data);
                        if(err)
                            console.log(err);
                        else
                            user = data.response;

                        data2 = {
                            lobbies: [
                                { name: 'free',   cost: 0},
                                { name: 'bronze', cost: 100},
                                { name: 'silver', cost: 250},
                                { name: 'gold',   cost: 500}
                            ],
                            user: { balance: user.real_balance}
                        };

                        BIG.ui('lobby', '#lobby',  data2);
                        BIG.ui('bank', '#bank', { balance: user.real_balance, player_id: user.id });


                        // Disconnect user (from api and lobbies)
                        window.onbeforeunload = function (e) {
                            BIG.disconnect('player_1', function(err, data) { console.log(err, data) } );
                        }

                        //BIG.ui({type:'status', element: '#status'}, callback);
                    })
        })
    </script>
    <script src="build/main.js"></script>
</head>
<body>
<p class="toto">You are about to live the Bet-in-Game experience in our demo game. Players' side.</p>

<div class="tip">As a regular player, you have to login (or register) to start playing our fabulous demo game.</div>
<div class="cut-point">
    <div class="back">
        <div class="navbar">
            <div class="pull-left name">Hello <span id='username'><%= player_id %></span> !</div>
            <div class="add-credits pull-right">
                <div class="pull-right"></div>
                <div id="bank"></div>
            </div>
        </div>
        <div>
            <div id="all-lobby"><p class="big-title"><span>NEW ! </span> You can play for fun as usual... or you can bet your rubies !</p><p class="explain">Victory means you win your opponent’s rubbies ! <br  />Rubies can be exchanged in the shop for special items or virtual currency.<br /><br /><p class="choose-lobby"><strong>Just click on the lobby you want to play in.</strong></p></p></div>
            <!--<div class="lobby-global">
                <div class="frame-lobby lobby-3-open pull-right"></div>
                <div class="frame-lobby lobby-2-open pull-right"></div>
                <div class="frame-lobby lobby-1-open pull-right"></div>
                <div class="frame-lobby lobby-0-open pull-left"></div>
            </div>-->

            <div id="lobby"></div>
            <div><ul id='notifications'></ul></div>
            <div class="content">
                <div id="gjs-loader"> Loading...  </div>
                <canvas id="gjs-canvas"></canvas>
            </div>
        </div>
    </div>
</div>
</body>
</html>
