<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/assets/css/style.css' />
    <title>Login</title>
</head>
<body>
<div class="cut-point">
    <div class="back"><br /><br />
        <div class="sign">
            <div>
                <div class="welcome-title"><img src="/assets/img/welcome-title.png"/></div>
                <% if(typeof error !== 'undefined') { %>
                <div class="errors">
                    <ul>
                        <li><%= error %></li>
                    </ul>
                </div>
                <% } %>
                <form class="form" method="post" autocomplete="off">
                    <div class="controls">
                        <label for="username" class="label-text">Username : </label><br />
                        <input type="text" name="username" id="username" value="" class="span3 field">
                    </div>
                    <div class="controls">
                        <label for="password" class="label-text">Password : </label><br />
                        <input type="password" name="password" id="password" value="" class="span3 field">
                    </div>
                    <div class="login">
                        <button type="submit" tabindex="3" class="btn login-success" name="submit">Log in</button> <span>or <a tabindex="5" href="/register">Create an account</a> </span>
                    </div>
                </form>
                <br /><br /><br />
            </div>
        </div>
    </div>
</div>

</body>
</html>
