<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/assets/css/style.css' />
    <title>Login</title>
</head>
<body>
<p class="toto">You are about to live the Bet-in-Game experience in our demo game. Players' side.</p>

<div class="tip">As a regular player, you have to login (or register) to start playing our fabulous demo game.</div>
<div class="cut-point">
    <div class="back"><br /><br />
        <div class="sign">
            <div>
                <% if(typeof error !== 'undefined') { %>
                <div class="errors">
                    <ul>
                        <li><%= error %></li>
                    </ul>
                </div>
                <% } %>
                <form class="form" method="post">
                    <div class="controls">
                        <label for="username" class="label-text">Username : </label>
                        <input type="text" name="username" id="username" value="" class="span3 field">
                    </div>
                    <div class="controls">
                        <label for="password" class="label-text">Password : </label>
                        <input type="password" name="password" id="password" value="" class="span3 field">
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" tabindex="3" class="btn-success login-success" name="submit">Sign in</button>
                        </div>
                    </div>
                </form>
                <br /><br /><br />
                <p class="new"> New to Tic Tac Toe ? <a tabindex="5" href="/register">Sign up to Play</a></p>
                <br /><br />
            </div>
        </div>
    </div>
</div>

</body>
</html>
