.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #5bb75b;
    *background-color: #499249;
}

/*mise en place de certains éléments du boostrap) */

body{
    width: 860px;
}

.toto{
    font-size: 16px;
    font-weight: bold;
}

.tip{
    margin-top: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color : #f9e69f;
    padding: 25px 0 25px 40px;
    font-style: italic;
    font-size: 14px;
}

.cut-point{
    margin-top: 50px;
    border: 1px dashed #cecece;
    padding: 10px;

}

.back{
    background: url(/assets/img/motif.jpg) repeat;
}

.sign{
    background: url(/assets/img/sign-frame.png) no-repeat;
    padding-top: 100px;
    margin: 50px 0 0 133px;
}

.controls{
    margin: 10px 0 0 45px;
}

.field{
    border: 1px solid rgb(223, 223, 223);
    padding: 10px 0 10px 10px;
    margin-left: 15px;
    width : 165px;
}
.label-text{
    font-size: 14px;
}

.login-success{
    width: 100px;
    height: 33px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top : 10px;
    margin-left: 168px;
    margin-bottom: 20px;
}

.new{
    margin: 20px 0 0 60px;
    font-size: 14px;
}

.navbar {
    padding: 0;
    height: 60px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #435a79;
    background-image: -moz-linear-gradient(top, #526e92, #2d3d53);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#526e92), to(#2d3d53));
    background-image: -webkit-linear-gradient(top, #526e92, #2d3d53);
    background-image: -o-linear-gradient(top, #526e92, #2d3d53);
    background-image: linear-gradient(to bottom, #526e92, #2d3d53);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff526e92', endColorstr='#ff2d3d53', GradientType=0);
    border-color: #2d3d53 #2d3d53 #121921;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#profile{
    margin: 5px;
    padding: 15px 0 0 65px;
    background: url(/assets/img/character2.png) no-repeat;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    height:60px; 
}

.pull-right{
    float: right;
}

.add-credits {
    display: inline-block;
    border-radius: 6px 0 0 6px;
    background: #40212f;
    padding: 14px 16px 6px 12px;
    margin-right: 10px;
    display: inline-block;
    height:40px; 

}

#money {

}
#bank{
    text-decoration: none;
}
#bank img{
  vertical-align:middle; 
}


.big-title{
    font-size: 18px;
    padding : 10px;
    text-align: center;
    margin-top: 40px;

}
.big-title .span{
    color: #cd4545;
}

.explain{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

#lobby{
    margin-top: 45px;
    margin-left: 0px;
}

#lobby ul{
}

#lobby li{
    width: 169px;
    height: 150px;
    cursor: pointer;
    margin-right: 20px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;

    list-style: none;
}

#lobby li:hover{
    border: 1px dashed #442838;
}

.lobby-cost {
  margin-top: 90px;
  font-style: italic;
  text-align: right;
}

.lobby-action {
  margin-top: 12px;
  font-weight: bold;
}

#free.lobby-available{
    background: url(/assets/img/lobby-0-open.png) no-repeat;
}
#free.lobby-joined{
    background: url(/assets/img/lobby-0-connect.png) no-repeat;
}
#bronze.lobby-available{
    background: url(/assets/img/lobby-1-open.png) no-repeat;
}
#bronze.lobby-joined{
    background: url(/assets/img/lobby-1-connect.png) no-repeat;
}
#bronze.lobby-disabled{
    background: url(/assets/img/lobby-1-disabled.png) no-repeat;
}
#silver.lobby-available{
    background: url(/assets/img/lobby-2-open.png) no-repeat;
}
#silver.lobby-joined{
    background: url(/assets/img/lobby-2-connect.png) no-repeat;
}
#silver.lobby-disabled{
    background: url(/assets/img/lobby-2-disabled.png) no-repeat;
}
#gold.lobby-available{
    background: url(/assets/img/lobby-3-open.png) no-repeat;
}
#gold.lobby-joined{
    background: url(/assets/img/lobby-3-connect.png) no-repeat;
}
#gold.lobby-disabled{
    background: url(/assets/img/lobby-3-disabled.png) no-repeat;
}



#notifications{
    margin-left: 155px;
    border: 1px solid #ede;
    margin-top: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color : #ffffff;
    padding: 10px 0 10px 20px;
    font-style: italic;
    font-size: 16px;
    width: 500px;
}

.choose-lobby{
    font-size: 16px;
    text-align: center;
}

#gjs-canvas{
    margin-left: 155px;
    width: 522px;
    height: 522px;
    margin-left: 155px;
    text-align: center;
    border: 1px solid #ede;
    margin-top: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color : #ffffff;
}

#demo{
    background: url(/assets/img/plus.png) no-repeat;
    width: 35px;
    height: 36px;
    border:none;
    cursor: pointer;
}

#demo:hover {
    background: url(/assets/img/plus-hover.png) no-repeat;
}

#notifications {
  height: 100px;
  overflow: auto;
  overflow-x: hidden;
  display: block;
  list-style: none;
}
